<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Page</title>
  </head>
  <body>
    <h1>Register pleeease:</h1>
    <fieldset>
      <form class="userProfile" action="/register" method="post">
        <label for="username">Pick a Username</label>
        <input type="text" name="username" value="" placeholder="Username"> <br>
        <label for="password">Pick a Password</label>
        <input type="password" name="password" value="" placeholder="Password"><br>
        <input type="submit" name="submit" value="Submit">
      </form>
    </fieldset>
  </body>
</html>
